$cl-black: #000000;
$cl-white: #ffffff;
$cl-white-hover: rgb(255, 255, 255, 0.5);

$rich-black: #02061A;

$medium-turquoise-1: #5BD2BD;
$medium-turquoise-2: #5BD2BF;
$eucalyptus: #56CAB1;
$deep-aquamarine: #3B7C70;

$celestial-blue:#4C99BB;
$police-blue: #3A5B6A;
$yankees-blue-1: #24293F;
$yankees-blue-2: #23263C;
$yankees-blue-3: #262E48;