$cl-white: #ffffff;
$cl-white-fb: #FAFBFD;
$cl-white-f9: #FAF9FA;

$cl-black: #232427;
$cl-black-00: #000000;

$cl-gray-99: #9998A4;
$cl-gray-5e: #5E5C6C;
$cl-gray-d6: #D6D5DF;

$cl-blue-dark: #2962EF;
$cl-blue-dark-hover: #1e4fca;